@mixin flex-template ($direction, $pos, $al) {
    display: flex;
    flex-flow: $direction nowrap;
    justify-content: $pos;
    align-items: $al;
}

$color-light: #FFFFFF;
$color-dark-menu: #CDCDCD;
$color-light-menu: #FAFAFA;
$color-light-l: #F6F6F6;
$color-logo: #F1CDB3;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;



body {
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    max-width: 100%;
    font-family: Arial, Georgia, sans-serif;
}



div.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    z-index: 2;
}

.wrapper {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.start-screen {
    background: url('../../assets/images/start-screen-background.jpg') no-repeat, url('../../assets/images/start-screen-gradient-background.jpg') no-repeat;
    color: $color-light;
    padding-top: 60px;
    height: 908px;
}



header {
    width: 100%;
    @include flex-template(row, space-between, center);
    padding: 0;
    margin: 0;
}

.logo  {
    h1 {
        margin: 0;
        padding: 0 0 0 1px;
        font-family: Georgia;
        font-size: 32px;
        line-height: 1.1;
        letter-spacing: 0.06em;
        color: $color-logo;
        font-weight: 400;
    }
    span {
        display: inline-block;
        font-family: Arial;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        font-weight: 400;
        padding: 10px 0 0 5px;
    }
}

.header-menu {
    margin: 0 2px 4px 0;
    padding: 1px 0 0 1px;
    box-sizing: border-box;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    
    @include flex-template(row, flex-start, center);
        li {
            height: 24px;
            margin-right: 35px;
            list-style-type: none;
        }
        li:last-child {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            color: $color-dark-menu;
        }
        li.interactive:active, li.active {
            border-bottom: solid $color-primary 4px;
            cursor: pointer;
            color: $color-light-menu;
        }
        li.interactive:hover {
            a {
                color: $color-light-menu;
            }
            cursor: pointer;
        }

        li:hover{
            a {
                cursor: default;
            }
        }
}

.burger-menu-wrapper,
.burger-menu,
.modal-overlay {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}


.start-screen-content {
    width: 100%;
    margin: 60px 0 0;
    padding: 0;
    @include flex-template(row, space-between, center);
}

.content {
    width: 460px;
    @include flex-template(column, space-around, flex-start);
    align-items: center;
    margin-right: 42px;
    position: relative;
    top: -40px;
    h2 {
        width: 310px;
        font-family: Georgia;
        font-weight: normal;
        font-size: 44px;
        line-height: 130%;
        margin: 0 0 42px;
        padding: 0;
        color: $color-light;
        align-self: flex-start;
    }
    p {
        font-family: Arial;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-menu;
        padding: 0;
        margin: 0 0 41px;
    }
    button {
        height: 54px;
        width: 209px;
        border-radius: 100px;
        padding: 14px 35px 18px;
        margin: 0;
        background-color: $color-primary;
        font-family: Georgia;
        font-weight: normal;
        font-size: 17px;
        color: $color-dark;
        text-align: center;
        letter-spacing: 0.06em;
        align-self: flex-start;
    }

    a {
        align-self: flex-start;
    }

    button:hover {
        cursor: pointer;
        background-color: $color-primary-light;
    }
}

.content-image {
    height: 728px;
    width: 698px;
    background: url('../../assets/images/start-screen-puppy.png') no-repeat;
    align-self: flex-end;
}

.about {
    height: 588px;
    box-sizing: border-box;
    padding: 80px 0 100px;
}

.about-content, .donation-content {
    @include flex-template(row, center, center);
    width: 100%;
}

.about-content-image {
    width: 300px;
    height: 408px;
    background-image: url('../../assets/images/about-pets.png');
    margin-right: 60px;
}

.about-content-text {
    width: 430px;
    margin: 14px 0 0 60px;
    text-align: left;
    h3 {
        width: 370px;
        margin: 0;
        padding: 0;   
        font-family: Georgia;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    p {
        margin-top: 25px;
        font-family: Arial;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-xl;
    }
}

.pets {
    background-color: $color-light-l;
    height: 877px;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 100px;
}

.pets-content {
    @include flex-template(column, flex-start, center);
    width: 100%;
    height: 697px;
    position: relative;
    .arrow {
        position: absolute;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        top: calc(50% - 7px);
        z-index: 2;
    }

    .arrow:hover {
        background-color: $color-primary-light;
        cursor: pointer;
    }

    .left {
        background-image: url('../../assets/images/button_arrow-left.png');
        left: 0;
    }

    .right {
        background-image: url('../../assets/images/button_arrow-right.png');
        right: 0;
    }
    h3 {
        width: 400px;
        color: $color-dark-l;
        font-family: Georgia;
        letter-spacing: 0.06em;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    button {
        height: 52px;
        width: 262px;
        border-radius: 90px;
        padding: 14px 35px 18px;
        margin: 0;
        font-family: Georgia;
        font-weight: normal;
        font-size: 17px;
        color: $color-dark;
        letter-spacing: 0.06em;
        background-color: $color-primary;
        border: none;
    }
    button:hover {
        cursor: pointer;
        background-color: $color-primary-light;
    }
}

.cards-wrapper {
    margin: 60px 105px;
    @include flex-template(row, space-between, center);
    padding: 0;
    .card:last-child {
        margin-right: 0;
    }
}

.card {
    width: 270px;
    height: 435px;
    @include flex-template(column, flex-start, center);
    margin-right: 90px;

    p {
        font-family: Georgia;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        margin: 30px 0 27px;
        padding: 0;
    }
    button {
        height: 52px;
        width: 187px;
        border-radius: 90px;
        padding: 14px 35px 18px;
        margin: 2px 0 0;
        font-family: Georgia;
        font-weight: normal;
        font-size: 17px;
        color: $color-dark;
        letter-spacing: 0.06em;
        border: 2px solid $color-primary-light;
    }
    button:hover {
        cursor: pointer;
        background-color: $color-primary-light;
    }

   
}

.card:hover {
    img {
     box-shadow: 5px 5px 5px black;
    }
 }

.help {
    box-sizing: border-box;
    padding: 80px 40px 100px 40px;
    height: 611px;
}

.help-content {
    width: 100%;
    @include flex-template(column, space-between, center);
    padding: 0 87px;
    box-sizing: border-box;
    h3 {
        font-family: Georgia;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
       
        color: $color-dark-l;
        margin: 0 auto 60px;
        padding: 0;
    }
}

.help-list {
    width: 1029px;
    @include flex-template(row, flex-start, center);
    flex-flow: row wrap;
    .help-list__item {
        margin-right: 120px;
        @include flex-template(column, space-between, center);
    }
    .help-list__item:nth-child(5) {
        margin-right: 0;
     }
    .help-list__item:nth-child(6) {
        margin-left: 85px;
    }
    .help-list__item:nth-child(-n+5) {
        margin-bottom: 55px;
    }
    .help-list__item:last-child {
        margin-right: 82px;
    }
    .img-wrapper {
        width: 60px;
        height: 60px;
        align-self: center;
        text-align: center;
        vertical-align: center;
    }
    p {
        font-family: Georgia;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        text-align: center;
        margin: 30px 0 0;
    }
}

.donation {
    width: 100%;
    height: 464px;
    background-color: $color-light-l;
    box-sizing: border-box;
    padding: 80px 40px 100px;
}

.donation-content-image {
    height: 261px;
    width: 505px;
    background-image: url('../../assets/images/donation-dog.png');
    margin-right: 30px;
}

.donation-content-text {
    height: 282px;
    width: 380px;
    h3 {
        font-family: Georgia;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        align-items: center;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        margin: 0 0 20px 0;
        width: 300px;
    }
    h5 {
        font-family: Georgia;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        padding-top: 2px;
        margin: 0 0 20px 0;
    }
    p {
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        align-items: center;
        color: #B2B2B2;
        margin: 20px 0 0;
    }
}

.credit-card {
    height: 43px;
    width: 349px;
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: $color-primary-light;
    @include flex-template(row, space-between, center);
    a {
        text-decoration: none;
        color: $color-dark-l;
        font-family: Georgia;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        align-items: center;
        letter-spacing: 0.06em;
    }

    img:hover, 
    a:hover {
        cursor: pointer;
        font-style: italic;
    }
}

footer {
    width: 100%;
    height: 350px;
    background: url('../../assets/images/start-screen-background.jpg') no-repeat, url('../../assets/images/start-screen-gradient-background.jpg') no-repeat;
    color: $color-light;
    @include flex-template(row, space-between, center );
    padding: 40px 40px 0;
    box-sizing: border-box;
    .contact, .location-block {
        @include flex-template(column, space-between, flex-start);
        height: 234px;
        margin-right: 160px;
        align-self: flex-start;
    }

    .contact {
        width: 279px;
    }

    .location-block {
        width: 302px;
    }

    h3 {
        font-family: Georgia;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding: 15px 0 0;
        margin: 0 0 41px 0;
    }
    
    .footer-img {
        width: 300px;
        height: 310px;
        background: url('../../assets/images/footer-puppy.png');
    }
}

.contact-list {
    @include flex-template(column, flex-start, flex-start);
    margin: 0;
    padding: 0 0 40px 0;
    div:first-child {
        margin-bottom: 40px;
    }

    div {
        @include flex-template(row, space-around, center);
        height: 32px;
    }

    a {
        font-family: Georgia;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        text-decoration: none;
        color: $color-primary;
        margin-right: 20px;
    }

    a:hover {
        cursor: pointer;
    }

    div a:last-child {
        margin-right: 0;
    }
}

@media  (max-width: 1279px) {
    body{
        width: 100vw;
    }

    .about {
        width: 100%;
        max-width: 100%;
    }


    .wrapper {
        padding: 0 30px;
        max-width: 100%;
    }
    
    .start-screen {
       width: 100%;
       max-width: 100%;
       height: 1165px;
       padding-top: 30px;
       background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
       
      /* url('../../assets/images/start-screen-background-768.png') no-repeat, url('../../assets/images/start-screen-gradient-background-768.png') no-repeat;*/
       .start-screen-content {
        @include flex-template(column, flex-start, center);
        
       }
    }

    .content-image {
        height: 593px;
        width: 569px;
        background: url('../../assets/images/start-screen-puppy-768.png') no-repeat;
        margin-top: 98px;
    }

    .content {
      top: 0;
      margin-right: 0;
      h2 {
          margin: 0 auto 42px;
      }
      a, button {
          margin: 0 auto;
      }
      .content-image {
          margin: 98px auto 0;
      }
    }

    .about {
        height: 1048px;
        padding: 80px 166px 100px 165px;
        .about-content {
            @include flex-template(column, flex-start, center);
            .about-content-text {
                order: -1;
                margin: 0 0 80px 0 ;
                p {
                    margin-bottom: 0;
                }
            }
            .about-content-image {
                margin-right: 0;
            }
        }
    }

    .pets {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .cards-wrapper {
        max-width: 680px;
        overflow: hidden;
        margin: 60px 0;
        .card {
            margin-right: 40px;
        }
        .card:first-child {
            margin-left: 64px;
        }
        .card:last-child {
            margin-right: 64px;
        }

    }

    .help {
        width: 100%;
        max-width: 100%;
        padding: 80px 69px 100px;
        height: 779px;
        .help-content {
            padding: 0;
            h3 {
                padding: 0 0 0 2px;
            }
            .help-list {
                width: 100%;
                .img-wrapper {
                    margin: 0 55px;
                }
                .help-list__item:nth-child(5) {
                    margin-right: 60px;
                 }
                .help-list__item:nth-child(6) {
                    margin-left: 0;
                }
                .help-list__item:nth-child(-n+5) {
                    margin-bottom: 55px;
                }
                .help-list__item:last-child {
                    margin-right: 0;
                }
              
                .help-list__item {
                    margin-right: 60px;
                }
                .help-list__item:nth-child(3n) {
                    margin-right: 0;
                 }
               
                .help-list__item:nth-child(-n+6) {
                    margin-bottom: 55px;
                }
            }
        }
    }
    
    .donation {
        height: 783px;
        padding: 80px 0 100px;
        width: 100%;
        max-width: 100%;
        .donation-content {
            @include flex-template(column, flex-start, center);
            .donation-content-text {
                order: -1;
                margin-bottom: 60px;
            }
            .donation-content-image {
                margin-right: 0;
            }
        }
    }

    
    footer {
        width: 100%;
        max-width: 100%;
        height: 639px;
        @include flex-template(row, flex-start, center );
        flex-wrap: wrap;
        padding: 30px 30px 0;
        background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
     
        .contact, .location-block {
            margin-right: 0;
            h3 {
                padding: 0;
            }
        }
    
        .contact {
            margin-right: 60px;
            margin-left: 34px;
        }
    
        .location-block {
            margin-right: 34px;
        }
           
        .footer-img {
           margin: 65px auto 0;
        }
    }
}

@media  (max-width: 767px) {
    .wrapper {
        padding: 0 10px;
    }
    
    .start-screen {
       height: 823px;
       padding-top: 30px;
      /* background: url('../../assets/images/start-screen-background-320.png') no-repeat, url('../../assets/images/start-screen-gradient-background-320.png') no-repeat;*/
       .start-screen-content {
            @include flex-template(column, flex-start, center);
            .content {
                @include flex-template(column, flex-start, center);
                width: 100%;
                h2 {
                    width: 300px;
                    font-size: 25px;
                    padding: 0 15px 0 20px;
                    letter-spacing: 0.06em;
                    box-sizing: border-box;
                    white-space: pre-wrap;
                    text-align: center;
                    align-self: center;
                    span {
                        padding: 0 30px 0 30px;
                    }
                }
                p {
                    text-align: left;
                }

            }
            .content-image {
                height: 271.77px;
                width: 260px;
                background-size: cover;
                margin-top: 103px;
                margin-left: 40px;
                align-self: center;
            }
       }
    }
    
    .header-menu {
         display: none;
    }

    .burger-menu {
        display: block;
        width: 30px;
        height: 18px;
        border-bottom: solid 2px $color-primary;
        border-top: solid 2px $color-primary;
        margin-right: 44px;
        transition: transform 1s linear;
       
        .burger-menu__inner {
            width: 30px;
            height:2px;
            background-color: $color-primary;
            margin: 8px 0;
            transition: transform 1s linear;
        }

    }

    .burger-menu-wrapper {
        position: absolute;
        top: 0;
        right: -320px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 823px;
        z-index: 1;
        width: 320px;
        background: #292929; 
        font-family: Arial;
        font-weight: normal;
        font-size: 32px;
        line-height: 160%;
    } 

    .animateSlideIn {
        animation: slideIn 1s ease-in 0s 1 normal forwards;
    }

    .animateSlideOut  {
       animation: slideOut 1s ease-in 0s 1 normal forwards;
    }

    @keyframes slideIn {
        0% {
           transform: translateX(-20px);
        }
        100% {
           transform: translateX(-300px);
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateX(20px);
         }
         100% {
            transform: translateX(320px);
         }
    }



    .burger-header-menu {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;             
        li {
            height: 51px;
            margin-bottom: 40px;
            list-style-type: none;
        }
        li:last-child {
            margin-bottom: 0;
        }
        a {
            text-decoration: none;
            color: $color-dark-menu;
        }
        li:active, .active {
            border-bottom: solid $color-primary 4px;
            cursor: pointer;
            color: $color-light-menu;
        }
        li:hover {
            a {
                color: $color-light-menu;
            }
            cursor: pointer;
        }
    }

    .about {
        height: 974px;
        padding: 42px 10px;
        .about-content {
            height: 890px;
            padding: 0 15px;
            box-sizing: border-box;
            position: relative;
            .about-content-text {
                width: 100%;
                @include flex-template(column, flex-start, center);
                text-align: center;
                margin: 0;
                padding: 0;
                white-space: pre-wrap;
                h3 {
                    width: 100%;
                    font-size: 25px;
                    padding-left: 2px;
                    letter-spacing: 0.04em;
                    white-space: pre-wrap;
                    box-sizing: border-box;
                    margin: 0 0 25px;
                }
                p {
                    margin: 0;
                    text-align: justify;
                }
                p:last-child {
                    margin: 22px 0 0;
                }
            }
            .about-content-image {
                margin: 42px 0 0;
                width: 260px;
                height: 353.6px;
                background-size: cover;
                
            }
        }
    }
    .pets {
        max-width: 100%;
        padding: 42px 10px;
        height: auto;
        box-sizing: border-box;
        .pets-content {
            padding: 0;
            h3 {
                max-width: 300px;
                font-size: 25px;
            }
            .arrow {
                top: 561px;
            }
            .left {
                left: 58px;
            }
            .right {
                right: 58px;
            }
            .cards-wrapper {
                max-width: 270px;
                margin: 42px 15px 114px;
                overflow: hidden;
                .card {
                    margin: 0;
                }
            }
            button {
                margin-bottom: -20px;
            }
        }
    }

    .help {
        padding: 42px 15px;
        height: auto;
        .help-content {
            padding: 0;
            h3 {
                max-width: 230px;
                font-size: 25px;
                margin: 10px 0 42px;
            }
            .help-list {
                width: 100%;
                overflow: hidden;
                .help-list__item:nth-child(5) {
                    margin-right: 30px;
                 }
                .help-list__item:nth-child(6) {
                    margin-left: 0;
                }
                .help-list__item:nth-child(-n+5) {
                    margin-bottom: 30px;
                }
                .help-list__item:last-child {
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-top: 30px;
                }
              
                .help-list__item {
                    margin-right: 30px;
                }
                .help-list__item:nth-child(3n) {
                    margin-right: 30px;
                 }
                
                 .help-list__item:nth-child(2n) {
                     margin-right: 0;
                 }
               
                .help-list__item:nth-child(-n+6) {
                    margin-bottom: 30px;
                }
                .img-wrapper {
                    width: 50px;
                    height: 50px;
                    margin: 0 40px;
                }
                p {
                    font-size: 15px;
                    line-height: 110%;
                    margin: 20px 0 0;
                }
            }
        }
    }

    .donation {
        height: auto;
        padding: 42px 10px;
        .donation-content {
            .donation-content-text {
                max-width: 100%;
                @include flex-template(column,flex-start,center);
                margin-bottom: 42px;
                h3 {
                    font-size: 25px;
                    max-width: 303px;
                    text-align: center;
                    padding-top: 5px;
                    span {
                        padding: 0 60px;
                    }
                }
                h5 {
                    line-height: 160%;
                    letter-spacing: 0;
                }

                p {
                    text-align: justify;
                    padding: 2px 10px;
                }

                .credit-card {
                    max-width: 281px;
                    a {
                      font-size: 15px;
                      line-height: 110%;
                    }
                }
            }    
            
            
            .donation-content-image {
                margin-right: 0;
                margin-top: 5px;
                width: 260px;
                height: 135px;
                background-size: cover;
            }
        }
    }

    footer {
        height: 809px;
        @include flex-template(column, flex-start, center);
        flex-wrap: nowrap;
        padding: 30px 10px 0;
     
        .contact, .location-block {
            @include flex-template(column, flex-start, center);
            margin-right: 0;
            h3 {
                font-size: 25px;
                padding: 0;
                text-align: center;
            }
        }
    
        .contact {
            height: 208px;
            width: 278px;
            margin: 0 11px;
            h3 {
                width: 278px;
            }
            .contact-list {
                div:last-child {
                    padding-left: 7px;
                }
            }
            
        }
    
        .location-block {
            height: 222px;
            width: 300px;
            margin: 40px 0;
            h3 {
                width: 270px;
            }
            .contact-list {
                padding: 5px 0 0;
                div:last-child {
                    padding-top: 7px;
                }
            }
        }
       
        
        .footer-img {
            height: 269px;
            width: 260px;
            margin: 0 auto;
            background: url('../../assets/images/footer-puppy-320.png');
        }
    }

    
   
}





  

  
 

